<footer>
  <p>
    © <span id="year"></span> |
    <span id="footer-span">
      Crafted with <i class="fa-solid fa-heart"></i>  by DrAcula27
    </span>
  </p>
  <div class="footer-links">
    <a href="https://github.com/DrAcula27" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/daniellerandrews/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</footer>

<script>
  document.getElementById('year').textContent =
    new Date().getFullYear();
</script>
