<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <meta name="author" content="Danielle Andrews" />
  <meta name="description" content="Boats & Logs - a todo list" />
  <meta
    name="keywords"
    content="todo, list, tasks, boats, logs, 100devs"
  />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph (for social media) -->
  <meta property="og:title" content="Boats & Logs" />
  <meta
    property="og:description"
    content="A CRUD todo list application with authentication."
  />
  <meta property="og:image" content="img/logo.png" />
  <meta property="og:url" content="URL of your page" />

  <!-- Twitter Card (for Twitter sharing) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Boats & Logs" />
  <meta
    name="twitter:description"
    content="A CRUD todo list application with authentication."
  />
  <meta name="twitter:image" content="img/logo.png" />

  <title>Boats & Logs</title>

  <!-- Favicon -->
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="img/boatLogLogo.png"
  />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!-- External Fonts -->
  <script
    src="https://kit.fontawesome.com/940af2685d.js"
    crossorigin="anonymous"
  ></script>
</head>
