<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <header>
      <h1 class="title">Carry those Boats and Logs!</h1>
      <h2 class="subtitle">A ToDo List</h2>
    </header>
    <main class="homePage">
      <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
      <div class="btn-container">
        <a href="/login" class="authBtn">Login</a>
        <a href="/signup" class="authBtn">Signup</a>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script src="js/main.js"></script>
  </body>
</html>
